@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 15vh;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
  border-bottom: 1px solid #b4aeae;
  div {
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    align-items: center;
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    a {
      text-decoration: none;
      font-size: 1.2rem;
      color: #4b5563;
    }
  }
  .btnVerdeHeader:hover {
    background-color: #1ca04c;
  }
}
.btnVerdeHeader {
  background-color: #21c05c;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 18px;
  border-radius: 6px;
}
.cabecalhoSection {
  margin: auto;
  width: 72rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}
.primeiraSection {
  margin: 100px 0px;
  display: flex;
  justify-content: center;
  gap: 100px;
  section {
    h2 {
      font-size: 3.5rem;
      margin-bottom: 1.2rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .boxBntsPrimeiraSection {
      display: flex;
      gap: 20px;
    }
    .btnVerde {
      background-color: #21c05c;
      color: #ffffff;
      cursor: pointer;
      justify-content: center;
      width: 170px;
      padding: 18px;
      border-radius: 6px;
      border: none;
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 1.2rem;
      }
    }
    .btnBranco {
      background-color: #ffffff;
      color: #2563eb;
      cursor: pointer;
      justify-content: center;
      width: 170px;
      padding: 18px;
      border-radius: 6px;
      border: 1px solid #2563eb;
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 1.2rem;
      }
    }
  }
}
.segundaSection {
  display: flex;
  justify-content: center;
  gap: 300px;
  align-items: center;
  .cardSegundaSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-size: 2.5rem;
      color: #16a34a;
    }
  }
}

.terceiraSection {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .comoFunciona {
    margin: auto;
    width: 72rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
  }
  .boxCardsTerceiraSection {
    p {
      color: #4b5563;
    }
    h3 {
      font-weight: normal;
      font-size: 1.5rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
    #paraDoadores {
      color: #16a34a;
    }
    #paraAdquirentes {
      color: #2563eb;
    }
    display: flex;
    justify-content: center;
    gap: 12rem;
  }
  .cardsTerceiraSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    ul {
      font-weight: bold;
      list-style-type: disc;
      margin-left: 2.5rem;
    }
  }
}

.quartaSection {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .produtosDisponiveis {
    margin: auto;
    width: 72rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
  }
  .boxCardsProdutos {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  .cardProduto {
    width: 20rem;
    text-align: center;
    border: 1px solid #16a34a;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .buttonCardProduto {
    margin: auto;
    border: none;
    background-color: #16a34a;
    color: #ffffff;
    padding: 0.625rem;
    border-radius: 6px;
    width: 12rem;
  }
}

.quintaSection {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .boxCardsAvaliacoes {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
  .cardsAvaliacoes {
    padding: 1.2rem;
    min-height: 18rem;
    width: 20rem;
    border: 1px solid #16a34a;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h4,
    h3 {
      font-weight: normal;
    }
    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 0.8rem;
    }
  }
  .cabecalhoSectionCentralizado {
    text-align: center;
    margin: auto;
    width: 72rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}
