* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #dad621;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  h1 {
    border: solid red 5px;
  }
  nav {
    display: flex;
    justify-content: space-evenly;
    border: solid rgb(14, 196, 29);
    width: 40%;
  }
}
